.header{
    position: fixed;
    width: 100%;
    height: 8%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 0;
}

.header img{
    width: 10vh;
    height: auto;
    color:blueviolet
}

.header p{
    font-size: x-large;
}

.footer {
    position: fixed;
    width: 100%;
    height: 10vh;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    bottom: 0;
}

.menuItem {
    width: 20%;
    height: 100%;
    padding: 1vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    color:black
}

.menuItem img {
    width: auto;
    height: 50%;
}

.menuItem p {
    height: 10%;
    font-size: small;
}

.menuItem a {
    width: 100%;
    height: 100%;
    text-decoration: none;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.modalOverlay {
  position: fixed;
  inset: 0;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modalBackdrop {
  position: absolute;
  inset: 0;
  background-color: #000000;
  opacity: 0.60;
  z-index: -1;
}

.modalContainer {
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 8vw; 
  background-color: #ffffff;
  border-radius: 10px; 
  width: 70vw; 
}

.modalInput{
    padding: 2vw;
    width: 65vw;
    border-radius: 10px;
    border: none;
    background-color: rgb(201, 199, 199);
}

.modalButton {
  padding: 2vw;
  color: #ffffff;
  border-radius: 10px;
  cursor: pointer;
  border: none;
  transition: .5s;
  background-color: #192a78;
  width: 100%;
}

.modalButton:hover {
  background-color: #0a1441;
}